/*!
 * Bootstrap v4.3.1 (https://getbootstrap.com/)
 * Copyright 2011-2019 The Bootstrap Authors
 * Copyright 2011-2019 Twitter, Inc.
 * Licensed under MIT (https://github.com/twbs/bootstrap/blob/master/LICENSE)
 */

@import "functions";
@import "variables";
@import "mixins";
@import "root";
@import "reboot";
@import "type";
@import "images";
@import "code";
@import "grid";
@import "tables";
@import "forms";
@import "buttons";
@import "transitions";
@import "dropdown";
@import "button-group";
@import "input-group";
@import "custom-forms";
@import "nav";
@import "navbar";
@import "card";
@import "breadcrumb";
@import "pagination";
@import "badge";
@import "jumbotron";
@import "alert";
@import "progress";
@import "media";
@import "list-group";
@import "close";
@import "toasts";
@import "modal";
@import "tooltip";
@import "popover";
@import "carousel";
@import "spinners";
@import "utilities";
@import "print";

$base-background: #F0F0F0;
$button-background: #E4C1AE;
$button-width: 127px;
$button-height: 43px;
$mobile-xs: 320px;
$mobile-s: 640px;
$mobile: 768px;
$tablet: 992px;

@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

body {
    margin: 0;
}

h1 {font-weight: 700;}
p {font-weight: 300;}

.container {
    background-color: $base-background;
    width: 100vw; height: 100vh;
    padding: 5%;

    .row {
        margin: 0;
    }
    .col {
        padding: inherit;
    }

    img {
        width: 100%
    }

    .description {      
        background-color: white;
        @include flex-center;
        
        .wrapper {
            width: 67%; height: 70%;
            position: relative;
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            .button {
                background-color: $button-background;
                color: white;
                width: $button-width; height: $button-height;
                font-weight: bold;
                border-radius: 30px;
                @include flex-center;
                align-self: flex-end;

                @media (min-width: $mobile) and (max-width: $tablet) {
                    width: calc(#{$button-width * 0.75});
                    height: calc(#{$button-height * 0.75});
                    font-size: 14px;
                }
                @media (min-width: $mobile-s) and (max-width: $mobile) {
                    width: calc(#{$button-width * 0.6});
                    height: calc(#{$button-height * 0.6});
                    font-size: 12px;
                }
                @media (max-width: $mobile-s) {
                    width: calc(#{$button-width * 0.35});
                    height: calc(#{$button-height * 0.35});
                    font-size: 9px;
                }      
            }

            @media (max-width: $mobile) {
                padding: 0;
            }
    }

    @media (min-width: $mobile) and (max-width: $tablet) {
        h1 {font-size: 28px;}
        p {font-size: 12px; }
    }

    @media (min-width: $mobile-s) and (max-width: $mobile) {
        .wrapper {height: 85%;}
        h1 {font-size: 18px;}
        p {font-size: 10px; }
    }

    @media (max-width: $mobile-s) {
        .wrapper {height: 85%;}
        h1 {font-size: 12px;}
        p {font-size: 8px; margin-bottom: 5px;}
    }
}
}